html{
    font-size: medium;
    background-color: rgb(239, 235, 229);
    margin-right: 4cm;
    margin-left: 1cm;
}
.pfp{
    float: right;
    border: 3px dotted black;
    margin: 2cm;
    transform: translate(-150px,-100px);
    }
#Edu{
    margin-left: 5px;
}
.sechead{
    color: cornflowerblue;
}
.heading{
    font: 200;
    font-weight: 1000;
    color: brown;
    font-size: xx-large;
    padding-top: 0.5cm;
    padding-bottom: 1cm;
    border-bottom: 2px solid black;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 100;
}
.headr{
    color: rgb(81, 142, 21);
}
.thrhead{
    color: rgb(137, 67, 42);
}
#name{
    font-size: x-large;
    font-weight: 200;
    
}